<div class="tab-pane active" id="search">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="input-group input-group-lg">
        <span class="input-group-addon">Find a song!</span>
        <input type="text" (keyup.enter)="search(query)" [(ngModel)]="query" class="form-control" placeholder="Press enter to search!" aria-describedby="sizing-addon1">
      </div>
    </div>
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col">Album</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of results">
          <td>{{ item.title }}</td>
          <td>{{ item.artist }}</td>
          <td>{{ item.album }}</td>
          <td>
            <button type="button" class="btn btn-primary" *ngIf="!item.favorite" (click)="addFavorite(item)">
              <span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary alert-danger" *ngIf="item.favorite" (click)="removeFavorite(item)">
                <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
